<div class="comments">
	<h2 class="title-comments">Comentarios</h2>
	<div class="list-comment" id="commentsList">
	</div>
	<form name="commmentsForm" class="form-comments column" ng-submit="commmentsForm.$valid && addComment()" novalidate>
		<div class="form-group">
			<textarea class="form-control" ng-model="comment.body" name="txtareaComments" cols="70" rows="8" placeholder="Por favor ingresa tu comentario"></textarea>
		</div>
		<div class="form-group">
			<input class="form-control emailComments" type="email" ng-model="comment.email" name="emailComments" placeholder="Por favor ingresa tu email">
		</div>		
		<button type="submit" class="buttonComments btn btn-warning">Comentar</button>
	</form>
</div>